.jumbotron {
    background-color: #e6e485;
}

p {
    /*color: rgba(55, 0, 197, 0.43);*/
}

.success {
    background: grey;
    text-align: center;
}

body {
    background-color: #BFE2FF;
}

/*** Menu Bar ***/
.navbar-inverse {
    background-color: rgba(41, 103, 182, 0.89);
    border-color: #BFE2FF;/*rgba(60, 92, 134, 0.89);*/
}
/*** Menu Bar Active ***/

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #BFE2FF;
    color: #999;
}

/*** Menu Bar non-active link color ***/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color: #FFF;
}
/*** active link color ***/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: rgba(41, 103, 182, 0.89);
}

.panel-primary>.panel-heading {
    background-color: rgba(41, 103, 182, 0.89);
    border-color: #ddd;
}
.panel-primary>.panel-heading h4 small {
    color:#ccc;
}
/**
 * For displaying member details page
*/
.text-big {
    font-size: 18px;
}
.text-med {
    font-size: 15px;
}
.text-small {
    font-size: 12px;
}

/**
 * Used to create the clickable member list sidebar
*/
.member tr:hover, .trip tr:hover {
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}

.member tr.selected, .trip tr.selected {
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}
.member tr.head:hover {
    background-color:#fff;
    color: #333;
}


.error_message {
    color: #FF3333;
}

/**
 * Used to hide elements
*/
.hidden {
    display: none;
}

/**
 * Make the tables scrollabe
*/
.scrollable {
    overflow-y:auto;
}
.fixed {

}

/**
 * Make the table tabs look awesome
*/
.nav-tabs>li>a {
    color: #000;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-bottom-color: #FFF;
    cursor: default;
}
.nav-tabs>li.active>a {
    color:#000;
}

/**
 * Make warning text yellow, and alert text red (used for flags)
*/
.warning {
    color: #E6E600;
}
.alert {
    color: #B80000;
}

/**
 * Settings for inline bus reservation form 
*/
.no-pad {
    padding-top:4 !important;
    padding-left:0 !important;
    padding-right:0 !important;
}
.pass_search, .first_search, .last_search {
    width: 100% !important;
}
.pass_fld {
    width:100% !important;
    padding-right:10px;
}
.first_fld, .last_fld {
    width:48% !important;
}
.bus-submit {
    padding-left:4px;
}
input[type=radio] {
    display:none; 
}

.wait_form {
  width:80% !important;
}


/**
 * Make table entries centered
*/
