<!-- Member Select Column -->
<div class="col-md-5">  
  <div class="row">
    <h2>Browse Members</h2>
  </div>
  <div class="row">
    <!-- Add Member -->
    <div class="col-md-4">
      <div class="btn-group ">
        <a class="btn btn-default pull-left" href="{% url 'members_new' %}" >Add New Member</a>
      </div>
    </div>
      <div class="col-md-8">
        <input type="text" class="form-control" id="search-bar" placeholder="Search Existing Members" />
      </div>
  </div>
  <br>
  <!-- Tabs are specific to viewing members in general -->
  <!-- No tabs for trips -->
  <div class="row">
    <ul class="nav nav-tabs nav-justified">
      <!-- Browse Members in DB -->
      <li class="active"><a onclick="filter_member_table('all')" data-toggle="tab">All Members</a></li>
      <li><a onclick="filter_member_table('active')" data-toggle="tab">Active Members</a></li>
      <li><a onclick="filter_member_table('inactive')" data-toggle="tab">Inactive Members</a></li>
    </ul>
  </div>
  {% include 'members/members_table.html' %}
  
  <!-- Submit table selection -->
  <div class="row">
    <div class="btn-group pull-right">
      <a class="btn btn-default" onclick="display_selected_member()" >View Selected</a>
    </div>
  </div>
  <br>
</div>