<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Schussmeisters</title>
  </head>

   <body>
   
      <div>
      
	 <p>Schussmeisters Ski Club, Inc.</p>
	 
	 <p class=MsoNormal align=center style='text-align:center'><span
	 style='font-size:18.0pt;font-family:Arial'><?=getCurrentActiveSeasonLong()?></span></p>
	 
	 <table border="0" cellpadding="0" cellspacing="0" style="text-align:center">
	    <tr>
		 <td><p class=MsoNormal><span style='font-family:Arial'>IDNUMBER:</span></p></td>
		 <td><p class=MsoNormal><span style='font-family:Arial'>&nbsp;&nbsp;&nbsp;&nbsp;CARD NUMBER:</span></p></td>
	    </tr>
	    <tr>
		 <td><p class=MsoNormal><b><u><span style='font-family:Arial'><?=$member_id?></span></u></b></p></td>
		 <td><p class=MsoNormal><b><b><u><span style='font-family:Arial'><?=$member_active_id?></span></u></b></td>
	    </tr>
	 </table>
	 
	 <p class=MsoNormal><b><u><span style='font-family:Arial'><span style='text-decoration:none'>&nbsp;</span></span></u></b></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Name:                         <b><?=$first_name?> <?=$last_name?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Email:                          <b><?=$email?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Local Address:          <b><?=$local_address?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>City/ST/Zip:                <b><?=$city?>, <?=$state?> <?=$zip?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Birthdate:                   <b><?=$dob?></b>                Telephone:
	 <b><?=$phone?></b>   Sex: <b><?=$sex?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Type:                           <b><?=$member_type?></b>                   Date Joined: <b><?=substr($created,0,10)?></b></span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Price:                          <b>$<?=$signup_price?></b>                      </span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>Received By:                                                 </span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>___________</span></p>
	 
	 <p class=MsoNormal><span style='font-family:Arial'>&nbsp;</span></p>
      
      </div>
   
   </body>

</html>
