   <!-- Add a Trip -->
  <form class="form-horizontal" role="form" action="{% url 'enrollment_add' pass_id=pass.id trip_id=trip.id %}" method="post"> {% csrf_token %}
    
    <!-- Name -->
    <div class="form-group {% if trip_enroll_form.name.errors %}has-error{% endif %}">
      <label for="id_price_paid" class="col-sm-3 control-label">Price Paid</label>
      <div class="col-sm-8">
        {{trip_enroll_form.price_paid}}
      </div>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        <button type="submit" class="btn btn-default pull-right">Submit</button>
      </div>
    </div>
  </form>  
