               <div class="panel panel-default">
                 <div class="panel-heading clearfix">
                  <h4 class="panel-title pull-left" style="padding-top:7.5px;">Waiting List</h4>
                  <div class="input-group hidden on_select">
                    <select class="form-control wait_form pull-right" id="id_bus_num" name="bus_num">
                      {% for bus in today_list %}
                        <option value="{{bus.id}}">Bus {{bus.number}}</option>
                      {% endfor %}
                    </select>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Move <span class="caret"></span></button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      <li><a onclick="reserve_in_selected_bus()">Move to Bus</a></li>
                      <li><a class="delete_confirm">Remove Reservation</a></li>
                    </span>
                  </div><!-- /input-group -->
                 </div>

                <div class="panel-body">
                  <table class="table" >
                    <thead class="text-center">
                        <tr>
                            <th>Pass #</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                  </table>
                  <div class="scrollable" style="max-height:300px; height:auto;">
                    <table class="table">
                       <tbody class="text-small member bus-checkin wait_list">
                          {% for res in waiting_list.res_list %}
                           <tr>
                              <td id="res_id" class="hidden">{{res.id}}</td>
                              <td id="pass">{{res.member.active_id}}</td>
                              <td id="first_name">{{res.member.member.first_name}}</td>
                              <td id="last_name">{{res.member.member.last_name}}</td>
                              <td id="member_phone">{{res.member.member.phone}}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- Reserve member form -->
                  <div class="row col-sm-11">
                    <h5>Reserve a Member</h5>
                  </div>
                  <div class="filter_row col-sm-12">
                    <form class="form-inline" role="form" method="post"> {% csrf_token %}
                      <div class="row">
                        <div class="center-block">
                          <div class="form-group first_fld">
                            <label class="sr-only" for="id_first_name">First</label>
                            <input type="text" class="form-control first_search"
                                   id="id_first_name" maxlength="30" name="first_name" placeholder="First">
                          </div>
                          <div class="form-group last_fld pull-right">
                            <label class="sr-only" for="id_last_name">Last</label>
                            <input type="text" class="form-control last_search"
                                   id="id_last_name" maxlength="50" name="last_name" placeholder="Last">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3 no-pad">
                          <div class="form-group pass_fld">
                            <label class="sr-only" for="id_pass_num">Pass</label>
                            <input type="number" class="form-control pass_search" 
                                   id="id_pass_num" max="9999" min="1" name="pass_num" placeholder="42">
                          </div>
                        </div>
                        <div class="col-sm-6 no-pad">
                          <div class="btn-group btn-group-justified pad2" data-toggle="buttons" >
                            <label class="btn btn-default">
                              <input type="radio" name="pickup" id="id_pickup_0" value="ELLI"> E
                            </label>
                            <label class="btn btn-default">
                              <input type="radio" name="pickup" id="id_pickup_1" value="GOV"> G
                            </label>
                            <label class="btn btn-default">
                              <input type="radio" name="pickup" id="id_pickup_2" value="MAIN"> M
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-3 no-pad">
                          <div class="form-group pull-right bus-submit">
                            <button type="submit" class="btn btn-default">Submit</button>
                          <!-- hidden bus field makes submit from this field go to the right bus -->
                          </div>
                        </div>
                      </div>
                      <div class="hidden">
                        <select id="id_bus" name="bus">
                          <option value="{{waiting_list.id}}" selected="selected">{{waiting_list.number}}</option>
                        </select>
                      </div>
                    </form>
                  </div>
                 </div>
                 </div>
        

